.container {

}
a {
  color:black;
  text-decoration: none;
  font-style: oblique;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: blue;
}
h3 {
  font-weight: bold;
  font-family: sans-serif;
}
.col-1-2 {
  display:inline;
  height: 250px;
  width: 45%;
  float: left;
  padding: 10px;
  background-color: green;
  border: solid;
  position:relative;
}
.col-1-1 {
padding: 10px;
background-color: blue;
clear:both;
border: solid;
}
#topleft {
  height: 250px;
}
#bottomleft {
  height: 250px;
  background-image: url("../img/campfire.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#bottomright {
  height:250px;
}
#topright {
  height:250px;
  background-image: url("../img/coffeefire.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
li {
  display: inline;
  border: solid;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  font-family:sans-serif;
  background-color: white;
}
#logo {
  float:right;
  margin-top:-120px;
  margin-right: 275px;
}
#name {
  font-weight: bold;
  font-family: sans-serif;
}
#phrase {
  float: right;
  margin-right: -320px;
  margin-top: -100px;
  font-weight: bold;
  font-family: sans-serif;
}
#footertextright {
  float:right;
  margin-top: -50px;
}
body {
  background-color: brown;
}
