a {
  color:black;
  text-decoration: none;
  font-style: oblique;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: blue;
}
h3 {
  font-weight: bold;
  font-family: sans-serif;
}
.col-1-2 {
  display:inline;
  width: 45%;
  float: left;
  padding: 10px;
  background-color: green;
  border: solid;
  position:relative;
}
.col-1-1 {
padding: 10px;
background-color: blue;
clear:both;
border: solid;
}
#topleft {
  height: 250px;
}
#bottomleft {
  height: 250px;
  background-image: url("http://www.yankodesign.com/images/design_news/2011/03/16/mugs.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#bottomright {
  height:250px;
}
#topright {
  height:250px;
  background-image: url("http://g01.s.alicdn.com/kf/HTB10yg4JFXXXXc9XpXXq6xXFXXXy/2015-Plan-white-Blank-T-Shirt-China.jpg_350x350.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
li {
  display: inline;
  border: solid;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  font-family:sans-serif;
  background-color: white;
}
span3 {
  margin-top:-50px,
}
.merch {
  display: inline-block;
  margin-left: -20px,
  margin-top: 500px;
  position:relative;
  background-color: grey;
}
#logo {
  float:right;
  margin-top:-120px;
  margin-right: 275px;
}
#name {
  font-weight: bold;
  font-family: sans-serif;
}
#phrase {
  float: right;
  margin-right: -320px;
  margin-top: -100px;
  font-weight: bold;
  font-family: sans-serif;
}
#footertextright {
  float:right;
  margin-top: -50px;
}
body {
  background-color: brown;
}
